@keyframes slide{
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-512px, 0, 0);
    }
}
.title {
    margin: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
#title-logo{
    width: 300px;
}
#subtitle {
    margin-top: 75px;
    font-size: 25px;
    font-family: PokeBWFont;
    -webkit-text-stroke: 2px #ffffff;
    -webkit-text-fill-color: #000000;
}
#slide-effect {
    position: absolute;
    top: 0px;
    left: 0px;
    background: url("top-scroll-effect.png") repeat-x;
    height: 200px;
    width: 1536px;
    animation: slide 60s linear infinite;
}


