div {
    margin: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
img {
    width: 300px;
}
#subtitle {
    margin-top: 75px;
    font-size: 25px;
    font-family: PokeBWFont;
    -webkit-text-stroke: 2px #ffffff;
    -webkit-text-fill-color: #000000;
}


